{{#partial "contenido_cliente"}}

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
        <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
            <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
        </div>
        <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
            <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
        </div>
    </div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Reglas</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a href="/cliente/reglas/nueva" class="btn btn-sm btn-outline-secondary">Agregar</a>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Dispositivo</th>
                    <th>Magnitud</th>
                    <th>Comparacion</th>
                    <th>Valor</th>
                    <th>Accion a ejecutar</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {{#each reglas}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{reglamentador.actuador.dispositivo.categoria}} --
                        {{reglamentador.actuador.dispositivo.nombre}}</td>
                    <td>{{nombreMagnitud}}</td>
                    <td>{{comparacion}}</td>
                    <td>{{valor}}</td>
                    <td>{{accion}}</td>
                    <td>
                        <form action={{urlBorrar}} method="POST" onsubmit="return confirm('Estas seguro de borrar la regla?')">
                            <button class="btn btn-sm btn-outline-secondary" type="submit">Borrar</button>
                        </form>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</main>

{{/partial}}

{{>cliente/layout_cliente.hbs}}