<!DOCTYPE html>
<html>

<head>
    <title>Mapa</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/leaflet.css">

    <style>
        .my-class {
            height:100px;
            width:100px;
        }
    </style>

    <script src="/jquery.min.js"></script>
    <script src="/leaflet.js"></script>
</head>

<body style="padding-left:20px;padding-right: 20px; ">
    <h2 class="title" style="color: #7a7f87; text-align: center;">Mapa transformadores</h2>
    <a href="/" class="btn btn-primary my-2">Volver</a>
    <hr>
    <div id="mapa" style="height: 500px"></div>

    <hr>
    <footer style="text-align: center;background-color:grey;color:white">
        Grupo 9 - DDS Miercoles TN - UTN
    </footer>
</body>

<script type="text/javascript">
    $(document).ready(function () {

        const mapa = L.map('mapa', {
            center: [-34.598313, -58.463745],
            zoom: 10,
            minZoom: 4,
            maxZoom: 17,
            zoomControl: true
        });

        const titleLayer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: ''
        }).addTo(mapa);

        var polygon = L.polygon([
            [-34.697878, -58.468897],
            [-34.686919, -58.486813],
            [-34.651905, -58.530758],
            [-34.614052, -58.529385],
            [-34.552432, -58.499172],
            [-34.533202, -58.46484],
            [-34.582965, -58.381756],
            [-34.634075, -58.35159],
            [-34.65924, -58.418313]
        ], {
                color: 'red',
                fillColor: 'blue',
                fillOpacity: 0.1,
                radius: 500
            }).addTo(mapa).on('click', onMapClick);

        {{#each transformadores}}

            var marker = L.marker([{{latitud}}, {{longitud}}]).addTo(mapa);

            var url{{id}} = "http://localhost:30090/mapa/transformador/{{id}}/consumo";

            marker.bindPopup("Cargando...");
            marker.on('click', function (e) {
                var popup = e.target.getPopup();
                $.get(url{{id}}).done(function (data) {
                    popup.setContent("Consumo: " + data.consumo);
                    popup.update();
                });
            });

        {{/each}}

        function onMapClick(e) {
            alert("Latitud y Longitud: " + e.latlng);
        }
    });


</script>

</html>